.logoBg {
	height: 4.5rem;
	width: 100%;
	background-color: black;
}

.logo {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
}

.userSection {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 16px 0;
	height: 100px;
	width: 100%;
}

.sceneButtonsContainer {
	/* position: absolute;
	top: 18.5%;
	left: 50%;
	transform: translate(-50%, -25%); */

	grid-area: s;

	background: rgba(255, 255, 255, 0.19);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.2px);
	-webkit-backdrop-filter: blur(6.2px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	place-self: center;
	width: max-content;
	height: fit-content;

	font-size: 0.8rem;
	font-family: "Tilt Warp", cursive;
	padding: 0.75rem 1.2rem;
}

.sceneButtonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-wrap: break-word;
	margin: 0 0.5rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.1fr 0.35fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		". Logo ."
		". s .";
}
.Logo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 0.25fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;

	grid-template-areas:
		"Log Log Log"
		". . ."
		". . .";
	grid-area: Logo;
}

.log {
	grid-area: Log;
	display: flex;
	justify-content: center;
	align-items: center;
}

.customizeBtn {
	font-family: "Tilt Warp", cursive;
	font-size: 1.6rem;
	cursor: pointer;
}

.Bgb {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"BlackBg BlackBg BlackBg BlackBg"
		"Summary Summary Steps Steps"
		". . . .";
	grid-area: 1 / 1 / 2 / 4;
}
.BlackBg {
	grid-area: BlackBg;
}
.Summary {
	grid-area: Summary;
	background-color: #262626;
	border-right: 0.2rem solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Steps {
	grid-area: Steps;
	background-color: #262626;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Summary,
.Steps {
	letter-spacing: 0.15rem;
	font-size: 1.6rem;
	font-family: "Tilt Warp", cursive;
	cursor: pointer;
}

.Summary span,
.Steps span {
	font-size: 3rem;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.customizeText {
	display: flex;
	justify-content: center;
	align-items: center;
}

.handy {
	font-size: 1.6rem;
}

.threedHtml {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.colorPickerContainer {
	overflow-x: scroll;
	overflow-y: hidden;
	height: fit-content;
	width: 50%;
	white-space: nowrap;
}

.carColorAndText {
	display: inline-block;
	margin: 1rem 1rem;
}

@media screen and (max-width: 500px) {
	.Summary,
	.Steps,
	.handy,
	.customizeBtn,
	.Summary span,
	.Steps span {
		font-size: 1rem;
	}
}
